.hide{
  display: none;
}
/* Set the Media Query of body to tan */

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 600px) {
  .carousel-item img {
    width: 100%;
    height: 200px;
  }
  .carousel-item{
    height: 200px;
  }
}
